.container {
  display: flex;
}

.red, .yellow {
  flex: 1;
  padding: 20px; /* Exemplo de espaçamento interno */
}

.red {
  border-right: 2px solid #333; /* Linha divisória à direita da div vermelha */
  padding-right: 10px; /* Espaçamento para separar a linha do conteúdo */
}

.yellow {
  padding-left: 10px; /* Espaçamento para separar a linha do conteúdo */
}
